<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>David Goggins</h1>
    <h2 class="flex">About David</h2>
    <p>
      Billed as "the world's toughest man alive," David Goggins is a retired
      NAVY SEAL veteran of the Afghanistan and Iran wars who runs
      ultramarathons, long-distance cycling, is a triathlete and holds the world
      record for more pull-ups (dominated) in 24 hours (achieved 4,030 pull-ups
      in 17 hours). Goggins, who has a legion of followers on his social
      networks and who succeeds with his motivational talks, does not hesitate
      to show his hard training methods.
    </p>
    <div class="flex">
      <img
        src="/images/david-about.png"
        alt="david-change"
        class="img"
      />
    </div>
  </body>
  <script src="/app.js"></script>
</html>
