<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Gallery</title>
</head>
<body>
    <h1>David Goggins</h1>
    <h2 class="flex">Gallery</h2>
    <div class="flex">
      <img
        src="/images/david-back.jpg"
        alt="david"
        class="img"
      />
      <img
      src="/images/david-rules.jpg"
      alt="david-rules"
      class="img"
    />
    <img
    src="/images/David-Ultra.jpg"
    alt="david-Ultra"
    class="img"
  />
    </div>
</body>
<script src="/app.js"></script>
</html>
