<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="about"> About </a></li>
        <li><a href="work"> Work </a></li>
        <li><a href="gallery"> Gallery </a></li>
      </ul>
    </nav>
    <h1>David Goggins</h1>
    <h2 class="flex">      Welcome! </h2>
    <p>
     It's a pleasure to introduce you to what is considered "the
      toughest man alive in the world".
    </p>
    <div class="flex">
      <img
        src="/images/david-profile.jpg"
        alt="david-profile"
        class="img"
      />
    </div>
  </body>
  <script src="/app.js"></script>
</html>
