<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Work</title>
</head>
<body>
    <h1>David Goggins</h1>
    <h2 class="flex">Work</h2>
    <p>
        This person, who is 43 years old and
      has overcome his weight problems and heart disease, is the author of a
      book that defines his philosophy of life very well: 'Can't Hurt Me: Master
      Your Mind and Defy the Odds' ( You Can't Hurt Me: Master Your Mind And
      Defy The Odds).
    </p>
    <div class="flex">
      <img
        src="/images/david-book.jpg"
        alt="david-book"
        class="img"
      />
    </div>
</body>
<script src="/app.js"></script>
</html>